{% extends "base.html" %}

{% block page_title %}Страница не найдена{% endblock %}

{% block content %}
<div class="container"><div class="content">

    <h1>Страница не найдена</h1>

</div></div>
{% endblock %}
