{% extends "base.html" %}

{% block page_title %}О компании MedLogic{% endblock %}

{% block content %}
<div class="container"><div class="content">

    <h1>О компании</h1>

    <div class="content-style">
        <p>Компания Med Logic предлагает полный комплекс услуг в сфере информационного консалтинга учреждений здравоохранения. Мы рады предложить как поддержку работоспособности уже существующей Вашей компьютерной сети, так и внедрение новой инфраструктуры. </p>

        <p>Ключевыми видами деятельности компании являются:</p>
        <ul>
            <li>Обслуживание медицинской информационной системы "Медицина"</li>
            <li>Работа с IT-инфраструктурой учреждения</li>
            <li>Разработака и поддержка web-сайтов</li>
            <li>Создание, модернизация и обслуживание компьютерных сетей</li>
            <li>IP телефония</li>
            <li>Установка систем видеонаблюдения</li>
        </ul>
    </div>

</div></div>
{% endblock %}
