{% extends "base.html" %}

{% block page_title %}Наши клиенты - MedLogic{% endblock %}

{% block content %}
<div class="container"><div class="content">

    <h1>Наши клиенты</h1>

    <div class="content-style">
        <h3>КГБУЗ "Владивостокская поликлиника № 5"</h3>
        <ul>
            <li>Адрес: г. Владивосток, ул. Калинина, 78</li>
            <li>Сайт: <a href="http://p5vl.ru/" target="_blank">http://p5vl.ru/</a></li>
        </ul>

        <h3>Травмпункт №2</h3>
        <ul>
            <li>Адрес: г. Владивосток, ул. Калинина, 78</li>
        </ul>
    </div>

</div></div>
{% endblock %}