{% extends "base.html" %}

{% block page_title %}Контактная информация - MedLogic{% endblock %}

{% block content %}
<div class="container"><div class="content">

    <h1>Контактная информация</h1>

    <div class="content-style">
        <p>Приморский край, г.Владивосток</p>

        <p class="text-16">
            <b>Электронная почта:</b><br>
            <a href="mailto:info@med-logic.ru">info@med-logic.ru</a>
        </p>
    </div>

</div></div>
{% endblock %}