{% extends "base.html" %}

{% block page_title %}MedLogic - информационный консалтинг в медицине{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <h1>Наши ИТ услуги</h1>
    </div>
</div>


<div class="our-service first doka">
    <div class="container">
        <div class="wrap">
            <h2>Поддержка медицинской информационной системы "Медицина"</h2>
            <p>Оперативное устранение неполадок в функционировании системы, установка обновлений, внедрение новых функциональных возможностей, консультирование сотрудников Заказчика и многое другое.</p>
            <a href="medicine.html" class="button-extra">Подробнее</a>
        </div>
    </div>
</div>


<div class="our-service background-gray server">
    <div class="container">
        <div class="wrap">
            <h2>Работа с IT-Инфраструктурой учреждения</h2>
            <p>
                Для поддержания Ваших компьютеров  в рабочем состоянии мы осуществляем все мероприятия по технической поддержке компьютеров:
            </p>
            <ul>
                <li>Настройка сети</li>
                <li>Установка серверов</li>
                <li>IP Телефония</li>
                <li>Видеонаблюдение</li>
                <li>IT Аудит</li>
                <li>Обслуживание</li>
            </ul>
            <a href="techsupport.html" class="button-extra">Подробнее</a>
        </div>
    </div>
</div>

<div class="our-service www">
    <div class="container">
        <div class="wrap">
            <h2>Создание сайтов для медицинских организаций</h2>
            <p>Предоставляем вам услугу по разработке сайта в соответствии с требованиями федерального законодательства в области здравоохранения, а также его поддержку и наполнение.</p>
            <a href="site.html" class="button-extra">Подробнее</a>
        </div>
    </div>
</div>
{% endblock %}