{% extends "base.html" %}

{% block page_title %}Поддержка медицинской информационной системы "Медицина" - MedLogic{% endblock %}

{% block content %}
<div class="container"><div class="content">
    <h1>Описание МИС “Медицина”</h1>
</div></div>

<div class="our-service first doka">
    <div class="container">
        <div class="wrap" >
            <div class="content-style">
                <p>Медицинская информационная система “Медицина” охватывает все структуры и функции медицинских
                    организаций, оказывающих амбулаторную помощь больным на приеме и на дому.
                    Основное деление системы совпадает со структурой МО: регистратура, врачебная часть,
                    статистическая чать и лаборатория. Все модули работают в единой среде и
                    пересекаются между собой в тех местах, где это необходимо.</p>

                <div class="pdf-document">
                    <div><a href="/pdf/medlogic-manual-simple.pdf" target="_blank">Общий обзор интерфейса МИС “Медицина”</a></div>
                    <div class="mt-2"><span>Документ формата .pdf</span></div>
                </div>

                <div class="pdf-document mt-10">
                    <div><a href="/pdf/medlogic-manual-admin.pdf" target="_blank">Интерфейс администратора</a></div>
                    <div class="mt-2"><span>Документ формата .pdf</span></div>
                </div>

                <div class="pdf-document mt-10">
                    <div><a href="/pdf/Свидетельство_о_регистрации_программы.pdf" target="_blank">Свидетельство о регистрации программы ЭВМ</a></div>
                    <div class="mt-2"><span>Документ формата .pdf</span></div>
                </div>

                <h2>Модуль регистратуры</h2>
                <p>Удобный и функциональный интерфейс записи пациентов на прием к врачам. Интеграция в систему электронной записи на прием к врачу через портал «Госуслуги».</p>
                <p>Отслеживание всего прикрепленного населения в пределах системы, постоянное обновление и актуализация численного состава прикрепленного населения.</p>
                <p>Автоматическая проверка персональных данных пациента на этапе регистратуры, как следствие отсутствие ошибок  в реестрах пролеченных пациентов.</p>

                <h2>Модуль приема пациента</h2>
                <p>Просмотр очереди пациентов на прием в текущий день. Быстра запись на повторный прием. Создание и печать различной врачебной документации. Выписка направлений в лабораторию и проведение других медицинских услуг.</p>
                <p>Формирование планов вакцинации прикрепленного населения, различные статистические отчеты.</p>

                <h2>Модуль статистики</h2>

                <ul>
                    <li>Подведение любой статистической отчетности на основе внесенных данных во всех модулях</li>
                    <li>Формирование ежемесячных отчетов в ТФОМС со сведениями об оказанной медицинской помощи.
                        Ведение учета пролеченных больных на нескольких уровнях: ОМС, ДМС и платные приемы</li>
                    <li>Ведение диспансеризации и профилактических  осмотров</li>
                    <li>Работа сотрудников медицинской статистики в единой информационной среде с врачами и
                        регистратурой (использование единой базы данных пациентов)</li>
                    <li>использование универсального идентификатора случая обращения пациента в учреждение
                        - уникального номера талона, позволяющего сотруднику кабинета статистики получить
                        наполовину заполненную форму талона (с присутствующей информацией о пациенет - Ф.И.О.,
                        пол, дата рождения, номер и название страховой организации; фамилией врача проводившего прием)</li>
                    <li>максимально оптимизированный интерфейс, удобная навигация по форме статистического талона,
                        наличие преднастроенного автозаполнения полей в соответствии с профилем и спецификой
                        оказываемой врачебной помощи.</li>
                    <li>организация модулей заполнения статистического талона для поликлиники, травматологии и стоматологии</li>
                    <li>приведение значений справочника простых медицинских услуг к внутренним (коротким) кодам ПМУ, используемым в учреждении.</li>
                    <li>наличие проверки формы статистического талона на заполненность полей</li>
                    <li>использование только актуальных региональных и федеральных спавочников</li>
                    <li>удобная форма поиска заполненного талона по данным пациента</li>
                    <li>фильтрация заполненных талонов “по врачу”, с выведением количественных показателей</li>
                    <li>внутренняя проверка заполненных статистических талонов на всевозможные ошибки, в соответствии
                        с региональным справочником ТФОМС “Причины отказаов” (расхождение данных полиса,
                        фамилии, имени, отчества; наличие неотложной помощи без ПМУ и др.). Фильтрация ошибочных
                        талонов, для простоты их исправления</li>
                    <li>автоматическая проверка и исправление номера полиса и наименования страховой организации в
                        пределах талона в соответствии с персональными данными пациента</li>
                    <li>автоматическое формирование реестра пролеченных больных в соответствии с требованиями ТФОМС ПК</li>
                    <li>формирование отчетных форм на основе заполненных статистических талонов (подсчет посещений, случаев,
                        обращений в разрезе различных факторов: первичности/повторности случая, выставленных диагнозов,
                        целей обращения и др. в рамках различных периодов, в целом по ЛПУ или для отдельного врача/специализации;
                        расчет эффективности работы врачей на основании подсчета приведенных едениц и УЕТ).
                        Все формы легко доступны определенным категориям пользователей в формате конструктора.
                        Постоянно создаются новые и совершенствуются уже созданные отчетные формы.</li>
                </ul>

                <h2>Модуль лаборатории</h2>
                <p>Позволяет оперативно получать сведения о направлениях на лабораторную диагностику и другие неинвазивные исследования, что снизит возможность проведения лишних анализов или, наоборот, проведение их в недостаточном объеме.</p>


            </div>
        </div>
    </div>
</div>


{% endblock %}