{% extends "base.html" %}

{% block page_title %}Создание сайтов для медицинских организаций{% endblock %}

{% block content %}
<div class="container"><div class="content">
    <h1>Создание сайтов для медицинских организаций</h1>
</div></div>

<div class="our-service first www">
    <div class="container">
        <div class=" wrap" >
            <div class="content-style">
                <p>Наша компания предлагает услуги по созданию интернет сайтов для: больниц, поликлиник, лечебных и лечебно-профилактических учреждений, диагностических центров, диспансеров, женских консультаций, родильных домов, медицинских лабораторий и т.д. Создание сайтов для медицинских организаций является не только инициативой со стороны руководителей организаций, но и обязанностью, установленной государством.</p>

                <blockquote>В соответствии с требованиями п. 2, ст. 20 Федерального закона от 29 ноября 2010 года N 326-ФЗ &laquo;Об обязательном медицинском страховании в Российской Федерации&raquo; медицинские организации обязаны размещать на своем официальном сайте в сети &quot;Интернет&quot; информацию о режиме работы, видах оказываемой медицинской помощи.</blockquote>

                <p>В целях осуществления деятельности в соответствии с требованиями федерального законодательства в области здравоохранения мы готовы предложить создание интернет-сайта для вашей медицинской организации, а также его поддержку и наполнение. Дальнейшее сопровождение сайта возможно и без нашего участия, Вы получите доступ к удобной панели управления, через которую сможете менять структуру сайта, размещать на любой странице текст, фотографии, файлы, видео ролики, и т.д.</p>

                <p>Мы с удовольствием проконсультируем и ответим на все возникшие у Вас вопросы по созданию и размещения сайта в сети интернет, а также по другим вопросам, так, или иначе относящимся к разработке сайта медицинского учреждения здравоохранения.
                    Для этого Вам просто нужно позвонить нам в удобное для Вас время.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}