{% extends "base.html" %}

{% block page_title %}Создание сайтов для медицинских организаций{% endblock %}

{% block content %}


<div class="container">
    <div class="content">
        <h1>Работа с IT-Инфраструктурой учреждения</h1>
    </div>
</div>

<div class="our-service first server">
    <div class="container">
        <div class="wrap">
            <div class="content-style">
                <p>Правильно спроектированная и своевременно обслуживаемая информационная инфраструктура зачастую определяет успешность основной деятельности учреждения, помогает ежеминутно решать множество задач автоматизации рабочего процесса, являет собой экспертный инструмент. </p>
                <p>Наша компания предоставляет полный комплекс услуг по установке, модернизации и поддержке информационной инфраструктуры. </p>

                <h2>Аудит</h2>
                <p>Оценка и проектирование IT-инфраструктуры  – сбор данных, которые будут использоваться для проведения последующих работ, с целью обеспечения максимальной эффективности всех подразделений учреждения. В качестве результата выполненных мероприятий оценки ИТ-инфраструктуры, выдается экспертное заключение о необходимости принятия тех или иных мер модернизации, их приоритета и важности.</p>

                <h2>Серверы </h2>
                <p>Настройка отказоустойчивого кластера позволяет всегда иметь полностью функционирующую серверную инфраструктуру не беспокоясь об исправности конкретного физического сервера. Так же это позволяет настроить регулярное резервное копирование всех важных систем и обеспечить быстрый ввод в эксплуатацию новых сервисов и мощностей.</p>

                <h2>Сети</h2>
                <p>Настройка связи всех компьютеров предприятия, включая отдельно стоящие корпуса и удаленные учреждения, в единую сеть. Организация удалённого доступа позволит всегда иметь доступ к рабочей информации и программам.</p>

                <h2>IP Телефония</h2>
                <p>IP телефония позволяет связать всех сотрудников компании, независимо от их местоположения, единой телефонной базой с прямой адресацией звонков по коротким внутренним номерам.</p>
                
            </div>
        </div>
    </div>
</div>

<div class="our-service security background-gray">
    <div class="container">
        <div class="wrap">
            <div class="content-style">
                <h2>Видеонаблюдение </h2>
                <p>Выбор, настройка и монтаж оборудования. Индивидуальный подход учитывающий пожелания по размещению камер, их секторов обзора и имеющуюся инфраструктуру. Расчёт и настройка отказоустойчивого видео-архива исходя из требуемого времени хранения записей.</p>
            </div>
        </div>
    </div>
</div>

<div class="our-service support">
    <div class="container">
        <div class="wrap">
            <div class="content-style">
                <h2>Обслуживание компьютерного парка</h2>
                <p>Для поддержания Ваших компьютеров в рабочем состоянии мы осуществляем все мероприятия по технической поддержке компьютеров</p>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
