/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear {clear: both; height: 0; overflow: hidden; font-size: 0; padding: 0px; margin: 0px; line-height: 0; width: 100%}
*+html .clear {clear: none}
* html .clear {clear: none}

*:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: #ababab;
    font-family: "DINPro";
    font-size: 18px;
}
:-moz-placeholder {
    color: #ababab;
    font-family: "DINPro";
    font-size: 18px;
}
::-moz-placeholder {
    color: #ababab;
    font-family: "DINPro";
    font-size: 18px;
}
:-ms-input-placeholder {
    color: #ababab;
    font-family: "DINPro";
    font-size: 18px;
}


html, body {height: 100%;}
#content {
    position: relative;
    min-height: 100%;
}
* html #content {
    height: 100%;
}
#text {
    padding-bottom: 140px;
}

body {
    background: url(../images/bg.jpg) top left no-repeat;
    font-family: "PT Sans", Arial;
    color: #000;
    font-size: 14px;
    line-height: 120%;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
}

footer {
    position: relative;
    height: 120px;
    margin-top: -120px;
    background: #111111;
    color: #777777;
}
footer .row {
    width: 245px;
    padding: 20px 0px 0 15px;
    float: left;
}
footer .row h3 {
    font-size: 12px;
    color: #c6c6c6;
    margin-bottom: 5px;
}
footer .row ul li {
}
footer .row ul li a {
    font-size: 11px;
    color: #555555;
}
footer .copyright {
    padding-top: 20px;
    float: right;
    width: 91px;
    font-size: 11.6px;
    color: #fff;
}

.container {
    width: 980px;
    margin: 0 auto;
}

header {
    height: 46px;
    background: #555555;
    width: 910px;
    padding: 12px 35px 0 35px;
    margin: 0 auto;
    color: #fff;
}
header .logo {
    float: left;
    width: 173px;
    height: 36px;
    background: url(../images/logo.png);
    display: block;
}
header nav {
    float: left;
    margin-left: 100px;
    padding-top: 8px;
}
header nav ul li {
    display: inline;
    margin-right: 40px;
}
header nav ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
header nav ul li a:hover {
    text-decoration: underline;
}
header .phone {
    padding-top: 5px;
    float: right;
    font-size: 18px;
    text-align: center;
}
header .phone a {
    color: #fff;
    font-size: 12px;
}

.content {
    margin-top: 245px;
    padding: 0 35px;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}

.our-service.first {
    padding-top: 0;
}
.our-service {
    padding: 30px 0;
}
.our-service .wrap {
    padding: 20px 240px 0 0px;
    min-height: 200px;
}
.our-service .container {
    width: 910px;
}
.our-service.www .wrap {
    background: url(../images/www-200.png) right top no-repeat;
}
.our-service.support .wrap {
    background: url(../images/support-200.png) right top no-repeat;
}
.our-service.server .wrap {
    background: url(../images/server-200.png) right top no-repeat;
}
.our-service.doka .wrap {
    background: url(../images/doka-200.png) right top no-repeat;
}
.our-service.security .wrap {
    background: url(../images/security-200.png) right top no-repeat;
}
.our-service.background-gray {
    background: #f7f7f7;
}
.our-service h2 {
    font-size: 22px;
    margin-bottom: 15px;
}
.our-service p {
    margin-bottom: 10px;
}
.our-service p:last-child {
    margin-bottom: 0;
}
.our-service ul {}
.our-service ul li {
    margin-bottom: 5px;
    list-style-type: disc;
    list-style-position: inside;
}

.button-extra {
    margin-top: 30px;
    background: url(../images/btn.png) 0 0;
    width: 85px; height: 24px;
    padding-left: 42px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}
.button-extra:hover {
    background-position: 0 -24px;
    text-decoration: none;
}

.text-bold {
    font-weight: bold;
}
.content-style .text-16, .text-16 {
    font-size: 16px;
}

.content-style {
    padding-bottom: 50px;
}
.content-style h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
.content-style p, .content-style ul {
    font-size: 14px;
    line-height: 18px;
}
.content-style h2:first-child {
    margin-top: 0;
}
.content-style h2 {
    font-size: 16px;
    margin: 30px 0 15px 0;
    font-weight: bold;
}
.content-style p {
    text-align: justify;
    margin-bottom: 20px;
}
.content-style ul {
    margin-bottom: 20px;
}
.content-style ul li {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 5px;
}
.content-style blockquote {
    background: #f4f4f4;
    padding: 15px;
    margin-bottom: 20px;
    color: #333;
    font-style: italic;
}
.content-style b {
    font-weight: bold;
}
.content-style a {
    color: #555555;
    text-decoration: underline;
}

.pdf-document {
    position: relative;
    padding-left: 40px;
}
.pdf-document a {
    font-size: 16px;
}
.pdf-document  span {
    color: gray;
}
.pdf-document:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 32px;
    background: url("../icons/pdf.png");
}

.mt-2 {
    margin-top: 2px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}