<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="favicon.png" />

    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="content">
    <div id="text">

        <div class="container">
            <header>
                <a href="http://med-logic.ru" class="logo"></a>
                <nav>
                    <ul>
                        <li><a href="/">ИТ решения</a></li>
                        <li><a href="about.html">О компании</a></li>
                        <li><a href="contacts.html">Контактная информация</a></li>
                    </ul>
                </nav>
                <div class="phone mt-5">
                    <a href="mailto:info@med-logic.ru">info@med-logic.ru</a>
                </div>
            </header>
        </div>

        {% block content %}{% endblock %}

    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <h3>ИТ решения</h3>
            <ul>
                <li><a href="techsupport.html">ИТ-инфраструктура</a></li>
                <li><a href="medicine.html">МИС "Медицина"</a></li>
                <li><a href="site.html">Разработка сайта</a></li>
            </ul>
        </div>
        <div class="row">
            <h3>Компания</h3>
            <ul>
                <li><a href="clients.html">Наши клиенты</a></li>
                <li><a href="about.html">О компании</a></li>
                <li><a href="contacts.html">Контактная информация</a></li>
            </ul>
        </div>

        <div class="copyright">
            <a href="http://med-logic.ru"><img src="images/footer-logo.png"></a>
            © 2017 MedLogic
        </div>
    </div>
</footer>

</body>
</html>